# SQL Server database files
*.mdf
*.ndf
*.ldf

# Backup files
*.bak
*.trn

# Local settings
*.user
*.suo

# DataGrip / JetBrains files
.idea/

# SSMS files
*.sqlproj.user

# Logs
*.log

# Temporary files
*.tmp